.auth-tabs {
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.auth-tab {
  cursor: pointer;
  padding-bottom: 10px;
  opacity: 0.6;
  transition: 0.3s;
}

.auth-tab:hover {
  opacity: 1;
}

.auth-tab.active {
  opacity: 1;
  border-bottom: 2px solid white;
}